<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>台灣基層牙醫師協會</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

        <link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/templatemo-nomad-force.css') }}" rel="stylesheet">

<!--

TemplateMo 567 Nomad Force

https://templatemo.com/tm-567-nomad-force

-->
    </head>
    
    <body>
            <nav class="navbar navbar-expand-lg bg-light shadow-lg">
                <div class="container">
                    <a class="navbar-brand" href="index">
                        <strong>{{info['title']}}</strong>
                    </a>
            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                        
                            {% for page in info.pages %}
                            
                            {% if pagename == page[0] %}
                            <li class="nav-item now">
                            {% else %}
                            <li class="nav-item">
                            {% endif%}
            
                            
                                <a class="nav-link" href="{{page[0]}}">{{page[1]}}</a>
                            </li>
                            
                            {% endfor %}
            
                            
                        </ul>
                    </div>
                </div>
            </nav>
<main >

            <section class="hero" id="hero">
                <div class="heroText">
                    <h1 class="text-white mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
                        {% block title %}{% endblock %}
                    </h1>
            
                    <p class="text-secondary-white-color" data-aos="fade-up" data-aos-delay="1000">
                        {% block subtitle %}{% endblock %}
                    </p>
                </div>
            
                <div class="videoWrapper">
                    {% block wrapper %}{% endblock %}
                </div>
            
                <div class="overlay"></div>
            </section>

            
            



            <!-- 可供更改的部分 -->
            {% block main %}{% endblock %}
        </main>
        


        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        

                        <div class="mt-2 info">
                            <i class="bi bi-telephone-fill" style="overflow: hidden;display: inline-block;"></i>
                            <a class="custom-link" href="tel:{{info.tel}}" >{{info.tel}}</a>
                        </div>

                        <div class="mt-2 mb-4 info">
                            <i class="bi bi-envelope" style="overflow: hidden;display: inline-block;"></i>
                            <a href="mailto:{{info.email}}" class="custom-link">{{info.email}}</a>
                        </div>

                        
                        

                        
                    </div>

                    <div class="col-6">
                        <p class="copyright-text mb-0">Copyright © {{info.copyright}}
                        
                        
                    
                    </div>

                    <div class="col-lg-3 col-5 ms-auto">
                        <ul class="social-icon">
                                                        
                            {% for social in info.socials %}
                            
                            <li><a href="{{social[1]}}" target="_blank"
                                class="social-icon-link bi-{{social[0]}}"></a></li>

                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </section>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/magnific-popup-options.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scrollspy.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    </body>
</html>
