{% extends "base.html" %}



{% block title %}
附帶決議
{% endblock %}

{% block subtitle %}
???
{% endblock %}


{% block wrapper %}


<img src="{{ url_for('static', filename='images/cover.jpg') }}" style="width:100%">
{% endblock %}


{% block main %}

<section class="news-detail section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-10 mx-auto">
                {{ content}}

                

                
            </div>

        </div>
    </div>

</section>

            
{% endblock %}
